extends ../layout

block content
  include ../flash
  input(type='hidden', id='data', value=JSON.stringify(data))
  input(type='hidden', id='card', value=JSON.stringify(card))
  input(type='hidden', id='prices', value=JSON.stringify(prices))
  input(type='hidden', id='related', value=JSON.stringify(related))
  input(type='hidden', id='cubes', value=JSON.stringify(cubes))
  #react-root
  script(src='/js/autocard.js')
  script(src='/js/cardpage.bundle.js')