extends layout

block content
  h5
    nav(aria-label='breadcrumb')
      ol.breadcrumb
        li.breadcrumb-item
          a(href='/user/view/'+cube.owner style='color: #218937;') #{owner}
        li.breadcrumb-item.active(aria-current='page')= cube.name
      

  ul.nav.nav-tabs.nav-fill.nav-justified
      li.nav-item
        a.nav-link(href='/cube/overview/'+cube._id) Overview
      li.nav-item
        a.nav-link(href='/cube/list/'+cube._id) List
      li.nav-item
        a.nav-link(href='/cube/playtest/'+cube._id) Playtest
      li.nav-item
        a.nav-link(href='/cube/analysis/'+cube._id) Analysis
      li.nav-item
        a.nav-link.active(href='/cube/blog/'+cube._id) Blog
  .container
    if user
      br
      if user.id == cube.owner
        .card(style='padding:10px')
          h5 Create New Blog Post
          form(method='POST', action='/cube/blog/post/'+cube._id)
            #form-group
              label Title:
              input.form-control(maxlength='200' name='title', type='text')
            #form-group
              label Body:
              textarea.form-control(maxlength='20000' name='body')
            br
            input.btn.btn-success(type='submit',value='Submit')      
    if pages      
      hr
      nav(aria-label='pagination')
        ul.pagination
          each page, i in pages
            if page.active
              li.page-item.active(aria-current='page')
                a.page-link(href=page.url)=page.content
                  span.sr-only (current)
            else
              li.page-item
                a.page-link(href=page.url)=page.content
      hr
    if posts
      each post, i in posts
        .card
          .card-body
            h5.card-title=post.title
            h6.card-subtitle.mb-2.text-muted=post.date_formatted
            if post.body
              p.card-text=post.body
            if post.html
              p.card-text !{post.html}
        br
      if pages      
        hr
        nav(aria-label='pagination')
          ul.pagination
            each page, i in pages
              if page.active
                li.page-item.active(aria-current='page')
                  a.page-link(href=page.url)=page.content
                    span.sr-only (current)
              else
                li.page-item
                  a.page-link(href=page.url)=page.content
        hr
