extends layout

block content  
  style(type='text/css').
    @media (min-width: 768px){
    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-lg-1  {
    width: 100%;
    *width: 100%;
    }
    }
    @media (min-width: 992px) {
    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
    max-width: 14.285714285714285714285714285714% !important;
    flex:none !important;
    }
    }
    @media (min-width: 1200px) {
    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
    max-width: 14.285714285714285714285714285714% !important;
    flex:none !important;
    }
    }
    .list-group-item {
    padding: 3px 3px
    }
    ul.list-group {
    padding: 3px 0px
    }
    .list-group,
    .list-group-item{
    display:block;
    }
    .col-md-1{
    padding:3px
    }     
    .editarea {
    overflow: auto;
    max-height: 200px;
    }
    		
  //breadcrumb title
  h5
    nav(aria-label='breadcrumb')
      ol.breadcrumb
        li.breadcrumb-item
          a(href='#') #{owner}
        li.breadcrumb-item.active(aria-current='page')= cube.name
        
  // tabbed cube nav    
  ul.nav.nav-tabs.nav-fill.nav-justified
      li.nav-item
        a.nav-link.active(href='/cube/list/'+cube._id) List
      li.nav-item
        a.nav-link(href='/cube/playtest/'+cube._id) Playtest
      li.nav-item
        a.nav-link(href='/cube/analysis/'+cube._id) Analysis
      li.nav-item
        a.nav-link(href='/cube/blog/'+cube._id) Blog

  //edit controls
  if user
    if user.id == cube.owner
      .pos-f-t
        nav.navbar.navbar-expand-lg.navbar-light.bg-light
          .collapse.navbar-collapse
            ul.navbar-nav
              li.nav-item
                a.nav-link(href='#', data-toggle="collapse" data-target="#navedit" aria-controls="navedit" aria-expanded="false" aria-label="Toggle navigation") Add/Remove Cards
              li.nav-item.dropdown
                a#bulkdropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Bulk Upload
                .dropdown-menu(aria-labelledby='bulkdropdown')
                  a.dropdown-item(href='#', data-toggle='modal', data-target='#exampleModalScrollable') Paste Text
                  a.dropdown-item(href='#') Upload File
              li.nav-item.dropdown
                a#exportdropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Export
                .dropdown-menu(aria-labelledby='exportdropdown')
                  a.dropdown-item(href='#') Plain Text (.txt)
                  a.dropdown-item(href='#') Comma Separated (.csv)
                  a.dropdown-item(href='#') MTGSalvation (.txt)
                    br
        #navedit.collapse
          .container.bg-light
            .row.collapse.warnings
              .col
                .alert.alert-danger(role='alert') Invalid input: card not recognized.
            .row
              .col
                  form(autocomplete='off').form-inline
                    .form-group.mb-2.autocomplete
                      input.form-control#addInput(style='width: 350px', type='text', name='myCountry', placeholder='Card to Add')
                    button.btn.btn-success.mx-sm-1.mb-2#justAddButton(type='button') Just Add
              .col
                form.form-inline
                  .form-group.mb-2.autocomplete
                    input.form-control#removeInput(style='width: 350px', type='text', placeholder='Card to Remove')
                  button.btn.btn-success.mx-sm-1.mb-2#removeButton(type='button') Remove / Replace
            .row.collapse.editForm
              .col
                form#changelistForm(method='POST', action='/cube/edit/'+cube._id)
                  label Changelist:
                  .editarea
                    p.editlist#changelist
                  br
                  input#changelistFormBody(type='hidden', name='body')
                  input#changelistBlog(type='hidden', name='blog')
                  input.btn.mr-sm-2.btn-success#saveChangesButton(type='button', value='Save Changes')
                  input.btn.mr-sm-2.btn-danger#discardAllButton(type='button', value='Discard All')
                br
              .col
                br
      input#cubeID(type='hidden', name='cubeID', value=cube._id)        
      script(src='/js/autocomplete.js')
      script(src='/js/editcube.js')        
          

  //Cube list
  br
  .container
    .row.seven-cols
      .col-md-1   
        ul.list-group
          each card, i in cards.white
            li.list-group-item.autocard(card=card.image_normal style='background-color: #FFFAE8;')
              a= card.name
      .col-md-1
        ul.list-group
          each card, i in cards.blue
            li.list-group-item.autocard(card=card.image_normal style='background-color: #B7E1FF;')
              a= card.name
      .col-md-1
        ul.list-group
          each card, i in cards.black
            li.list-group-item.autocard(card=card.image_normal style='background-color: #C2A7C9;')
              a= card.name
      .col-md-1
        ul.list-group
          each card, i in cards.red
            li.list-group-item.autocard(card=card.image_normal style='background-color: #DB878D;')
              a= card.name
      .col-md-1
        ul.list-group
          each card, i in cards.green
            li.list-group-item.autocard(card=card.image_normal style='background-color: #9ED3A4;')
              a= card.name
      .col-md-1
        ul.list-group
          each card, i in cards.colorless
            li.list-group-item.autocard(card=card.image_normal style='background-color: #CCCCCC;')
              a= card.name
      .col-md-1
        ul.list-group
          each card, i in cards.multi
            li.list-group-item.autocard(card=card.image_normal style='background-color: #FFEC99;')
              a= card.name

                  

  // Paste bulk Modal
  #exampleModalScrollable.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalScrollableTitle', aria-hidden='true')
    .modal-dialog.modal-dialog-scrollable(role='document')
      .modal-content
        form(method='POST', action='/cube/bulkupload/'+cube._id)
          .modal-header
            h5#exampleModalScrollableTitle.modal-title Bulk Upload - Paste Text
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body
              textarea.form-control(maxlength='20000',rows='10', style='height:100%;', placeholder="Paste Cube Here (max length 20000)", name='body')
          .modal-footer
            #bulkspinner.collapse.spinner-border.text-success(role='status')
              span.sr-only Loading...
            button.btn.btn-success(type='submit', data-toggle='collapse', href='#bulkspinner') Upload
            button.btn.btn-secondary(type='button', data-dismiss='modal') Close

            
