extends layout

block content
  h5
    nav(aria-label='breadcrumb')
      ol.breadcrumb
        li.breadcrumb-item
          a(href='#') #{owner}
        li.breadcrumb-item.active(aria-current='page')= cube.name


  ul.nav.nav-tabs.nav-fill.nav-justified
      li.nav-item
        a.nav-link(href='/cube/list/'+cube._id) List
      li.nav-item
        a.nav-link.active(href='/cube/playtest/'+cube._id) Playtest
      li.nav-item
        a.nav-link(href='/cube/analysis/'+cube._id) Analysis
      li.nav-item
        a.nav-link(href='/cube/blog/'+cube._id) Blog
  .container
    br  
    h4=title
    br  
    .row
      .col-9
        each card, i in activecards
          a.autocard(card=card.image_normal, href='/cube/draft/pick/'+draftid+';'+card._id)
            img( src=card.image_normal, width='150', height='210')
      .col        
        ul.list-group
          each card, i in picks
            if card.colorcategory == 'w'
              li.list-group-item.autocard.white(card=card.image_normal)
                a.card-list-item= card.name
            if card.colorcategory == 'u'
              li.list-group-item.autocard.blue(card=card.image_normal)
                a.card-list-item= card.name
            if card.colorcategory == 'b'
              li.list-group-item.autocard.black(card=card.image_normal)
                a.card-list-item= card.name
            if card.colorcategory == 'r'
              li.list-group-item.autocard.red(card=card.image_normal)
                a.card-list-item= card.name
            if card.colorcategory == 'g'
              li.list-group-item.autocard.green(card=card.image_normal)
                a.card-list-item= card.name
            if card.colorcategory == 'c'
              li.list-group-item.autocard.colorless(card=card.image_normal)
                a.card-list-item= card.name
            if card.colorcategory == 'm'
              li.list-group-item.autocard.multi(card=card.image_normal)
                a.card-list-item= card.name
            if card.colorcategory == 'l'
              li.list-group-item.autocard.lands(card=card.image_normal)
                a.card-list-item= card.name
              
            
