extends layout

block content          
  //breadcrumb title
  h5
    nav(aria-label='breadcrumb')
      ol.breadcrumb
        li.breadcrumb-item
          a(href='#' style='color: #218937;') #{owner}
        li.breadcrumb-item.active(aria-current='page')= cube.name
        
  // tabbed cube nav    
  ul.nav.nav-tabs.nav-fill.nav-justified
      li.nav-item
        a.nav-link.active(href='/cube/list/'+cube._id) List
      li.nav-item
        a.nav-link(href='/cube/playtest/'+cube._id) Playtest
      li.nav-item
        a.nav-link(href='/cube/analysis/'+cube._id) Analysis
      li.nav-item
        a.nav-link(href='/cube/blog/'+cube._id) Blog

  //edit controls
  if user
    if user.id == cube.owner
      .pos-f-t
        nav.navbar.navbar-expand-lg.navbar-light.bg-light
          .collapse.navbar-collapse
            ul.navbar-nav
              li.nav-item
                a.nav-link(href='#', data-toggle="collapse" data-target="#navedit" aria-controls="navedit" aria-expanded="false" aria-label="Toggle navigation") Add/Remove Cards
              li.nav-item.dropdown
                a#bulkdropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Bulk Upload
                .dropdown-menu(aria-labelledby='bulkdropdown')
                  a.dropdown-item(href='#', data-toggle='modal', data-target='#pasteBulkModal') Paste Text
                  a.dropdown-item(href='#', data-toggle='modal', data-target='#uploadBulkModal') Upload File
              li.nav-item.dropdown
                a#exportdropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Export
                .dropdown-menu(aria-labelledby='exportdropdown')
                  a.dropdown-item(href='/cube/download/plaintext/'+cube.id) Card Names (.txt)
                  a.dropdown-item(href='/cube/download/csv/'+cube.id) Comma Separated (.csv)
                  a.dropdown-item(href='/cube/download/cubecobra/'+cube.id) Cube Cobra Readable (.txt)
                    br
        #navedit.collapse
          .container.bg-light
            .row.collapse.warnings
              .col
                .alert.alert-danger(role='alert') Invalid input: card not recognized.
            .row
              .col
                form(autocomplete='off').form-inline
                  .form-group.mb-2.autocomplete
                    input.form-control#addInput(style='width: 350px', type='text', name='myCountry', placeholder='Card to Add')
                  button.btn.btn-success.mx-sm-1.mb-2#justAddButton(type='button') Just Add
              .col
                form.form-inline
                  .form-group.mb-2.autocomplete
                    input.form-control#removeInput(style='width: 350px', type='text', placeholder='Card to Remove')
                  button.btn.btn-success.mx-sm-1.mb-2#removeButton(type='button') Remove / Replace
            .row.collapse.editForm
              .col
                form#changelistForm(method='POST', action='/cube/edit/'+cube._id)
                  label Changelist:
                  .editarea
                    p.editlist#changelist
                  br
                  input#changelistFormBody(type='hidden', name='body')
                  input#changelistBlog(type='hidden', name='blog')
                  input.btn.mr-sm-2.btn-success#saveChangesButton(type='button', value='Save Changes')
                  input.btn.mr-sm-2.btn-danger#discardAllButton(type='button', value='Discard All')
                br
              .col
                br
      input#cubeID(type='hidden', name='cubeID', value=cube._id)        
      script(src='/js/autocomplete.js')
      script(src='/js/editcube.js')        
          

  //Cube list
  br
  .container
    .row.eight-cols
      .col-md-1   
        ul.list-group
          each card, i in cards.white
            li.list-group-item.autocard.white(card=card.image_normal)
              a.card-list-item= card.name
      .col-md-1
        ul.list-group
          each card, i in cards.blue
            li.list-group-item.autocard.blue(card=card.image_normal)
              a.card-list-item= card.name
      .col-md-1
        ul.list-group
          each card, i in cards.black
            li.list-group-item.autocard.black(card=card.image_normal)
              a.card-list-item= card.name
      .col-md-1
        ul.list-group
          each card, i in cards.red
            li.list-group-item.autocard.red(card=card.image_normal)
              a.card-list-item= card.name
      .col-md-1
        ul.list-group
          each card, i in cards.green
            li.list-group-item.autocard.green(card=card.image_normal)
              a.card-list-item= card.name
      .col-md-1
        ul.list-group
          each card, i in cards.multi
            li.list-group-item.autocard.multi(card=card.image_normal)
              a.card-list-item= card.name
      .col-md-1
        ul.list-group
          each card, i in cards.colorless
            li.list-group-item.autocard.colorless(card=card.image_normal)
              a.card-list-item= card.name
      .col-md-1
        ul.list-group
          each card, i in cards.lands
            li.list-group-item.autocard.lands(card=card.image_normal)
              a.card-list-item= card.name

                  

  // Paste bulk Modal
  #pasteBulkModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='pasteBulkModalTitle', aria-hidden='true')
    .modal-dialog.modal-dialog-scrollable(role='document')
      .modal-content
        form(method='POST', action='/cube/bulkupload/'+cube._id)
          .modal-header
            h5#pasteBulkModalTitle.modal-title Bulk Upload - Paste Text
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body
              textarea.form-control(maxlength='20000',rows='10', style='height:100%;', placeholder="Paste Cube Here (max length 20000)", name='body')
          .modal-footer
            #bulkspinner.collapse.spinner-border.text-success(role='status')
              span.sr-only Loading...
            button.btn.btn-success(type='submit', data-toggle='collapse', href='#bulkspinner') Upload
            button.btn.btn-secondary(type='button', data-dismiss='modal') Close
            
  // upload bulk Modal
  #uploadBulkModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='uploadBulkModalTitle', aria-hidden='true')
    .modal-dialog.modal-dialog-scrollable(role='document')
      .modal-content
        .modal-header
          h5#uploadBulkModalTitle.modal-title Bulk Upload - Upload File
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body  
          form#uploadFileForm.custom-file(ref='uploadForm', action='/cube/bulkuploadfile/'+cube.id, method='post', enctype='multipart/form-data')
            input#customFile.custom-file-input(style='padding:10px' type='file' name='document' onchange="$('#upload-file-info').html(this.files[0].name)")
            label#upload-file-info.custom-file-label(for='customFile') Choose file

        .modal-footer
          button.btn.btn-success(type='submit' form='uploadFileForm') Upload
          button.btn.btn-secondary(type='button', data-dismiss='modal') Close

              
