extends layout

block content
	include flash
	br
	.row
		.col-lg-6.col-md-6.col-sm-12.col-xs-12
			if featured && featured.length > 0
				.card
					.card-header
						h4.card-title Featured Cubes
					.card-body
						br
						.row
							each cube, i in featured
								.col-lg-6.col-md-6.col-sm-12.col-xs-12
									.card
										.card-header
											h5=cube.name
											if cube.type
												a #{cube.card_count} Card #{cube.type} Cube
												br
											em
												a Designed by
												a(href='/user/view/'+cube.owner) #{cube.owner_name}
										a(href='/cube/overview/'+get_cube_id(cube))
											img.card-img-top(src=cube.image_uri style='width: 100%;height: auto;')
										em.text-right(style='padding: 2px;') Art by: #{cube.image_artist}
										a.btn.btn-success.rounded-0(href='/cube/overview/'+get_cube_id(cube)) View
									br
				br
			.card
				.card-header
					h4.card-title Recently Updated Cubes
				.card-body
					br
					.row
						each cube, i in recents
							if i < 2
								.col-lg-6.col-md-6.col-sm-12.col-xs-12
									.card
										.card-header
											h5=cube.name
											if cube.type
												a #{cube.card_count} Card #{cube.type} Cube
												br
											em
												a Designed by
												a(href='/user/view/'+cube.owner) #{cube.owner_name}
										a(href='/cube/overview/'+get_cube_id(cube))
											img.card-img-top(src=cube.image_uri style='width: 100%;height: auto;')
										em.text-right(style='padding: 2px;') Art by: #{cube.image_artist}
										a.btn.btn-success.rounded-0(href='/cube/overview/'+get_cube_id(cube)) View
									br
					#recentCollapse.collapse
						.row
							each cube, i in recents
								if i >= 2
									.col-lg-6.col-md-6.col-sm-12.col-xs-12
										.card
											.card-header
												h5=cube.name
												if cube.type
													a #{cube.card_count} Card #{cube.type} Cube
													br
												em
													a Designed by
													a(href='/user/view/'+cube.owner) #{cube.owner_name}
											a(href='/cube/overview/'+get_cube_id(cube))
												img.card-img-top(src=cube.image_uri style='width: 100%;height: auto;')
											em.text-right(style='padding: 2px;') Art by: #{cube.image_artist}
											a.btn.btn-success.rounded-0(href='/cube/overview/'+get_cube_id(cube)) View
										br
				.card-footer
					a#recentMore(data-toggle="collapse" href="#recentCollapse" onclick="toggleRecent()") View More...
			br
			.card
				.card-header
					h4.card-title Recent Drafts
				.card-body
					if decks.length > 0
						each deck, i in decks
							a(href='/cube/deck/'+deck._id) #{deck.seats[0].name}
							br
			br
		.col-lg-6.col-md-6.col-sm-12.col-xs-12
			.card
				.card-header
					h4.card-title Most Drafted Cubes
				.card-body
					br
					.row
						each cube, i in drafted
							if i < 2
								.col-lg-6.col-md-6.col-sm-12.col-xs-12
									.card
										.card-header
											h5=cube.name
											if cube.type
												a #{cube.card_count} Card #{cube.type} Cube
												br
											em
												a Designed by
												a(href='/user/view/'+cube.owner) #{cube.owner_name}
										a(href='/cube/overview/'+get_cube_id(cube))
											img.card-img-top(src=cube.image_uri style='width: 100%;height: auto;')
										em.text-right(style='padding: 2px;') Art by: #{cube.image_artist}
										a.btn.btn-success.rounded-0(href='/cube/overview/'+get_cube_id(cube)) View
									br
					#draftCollapse.collapse
						.row
							each cube, i in drafted
								if i >= 2
									.col-lg-6.col-md-6.col-sm-12.col-xs-12
										.card
											.card-header
												h5=cube.name
												if cube.type
													a #{cube.card_count} Card #{cube.type} Cube
													br
												em
													a Designed by
													a(href='/user/view/'+cube.owner) #{cube.owner_name}
											a(href='/cube/overview/'+get_cube_id(cube))
												img.card-img-top(src=cube.image_uri style='width: 100%;height: auto;')
											em.text-right(style='padding: 2px;') Art by: #{cube.image_artist}
											a.btn.btn-success.rounded-0(href='/cube/overview/'+get_cube_id(cube)) View
										br
				.card-footer
					a#draftMore(data-toggle="collapse" href="#draftCollapse" onclick="toggleDraft()") View More...
			br
			if devblog
				.card
					.card-header
						h4.card-title Devblog
							h5.card-title=devblog.title
							h6.card-subtitle.mb-2.text-muted=devblog.date_formatted
					.card-body
						if devblog.body
							p.card-text=devblog.body
						if devblog.html
							p.card-text !{devblog.html}
						p
							a(href='/dev/blog') See more..

block scripts
	script(src='/js/index.js')
