doctype html
- function get_cube_id(cube) {
-   if (cube.urlAlias) return cube.urlAlias;
-   if (cube.shortID) return cube.shortID;
-   return cube._id;
- }
html
	head  
		meta(charset='UTF-8')
		meta(name='description', content='Build, playtest, and share your Magic the Gathering cube!')
		meta(name='keywords', content='MTG,Magic the Gathering,Magic,Cube,Cubing,Cube Management,Cube Draft')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		if csrfToken
			meta(name='csrf-token', content=csrfToken)
		if metadata
			for metadatum, i in metadata
				if metadatum.name
					meta(name=metadatum.name, content=metadatum.content)
				if metadatum.property
					meta(property=metadatum.property, content=metadatum.content)
		link(rel='icon', href='/content/favicon.ico', type='image/x-icon')
		title=title ? title + ' - Cube Cobra' : 'Cube Cobra'
		link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
		link(rel='stylesheet' href='/css/stylesheet.css')
		#autocard_popup(style='position:absolute;z-index: 9999;')
		#autocard_popup2(style='position:absolute;z-index: 9999;')
		#autocard_popup_info(style='position:absolute;z-index: 9998;')
		script(src='/bower_components/jquery/dist/jquery.js')
		script(src='/jquery-ui/jquery-ui.min.js')
	body
		nav.navbar.navbar-expand-md.navbar-dark.bg-dark
			.container
				.d-flex.flex-row.flex-nowrap.justify-content-between(style='flex: 1 1 auto; min-width: 0')
					.overflow-hidden
						a(href='/')
							img(src="/content/banner.png" style='height: 45px; margin: 0 0' alt="Cube Cobra: a site for Magic: the Gathering Cubing")
					button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbar', aria-controls='navbar', aria-expanded='false', aria-label='Toggle navigation')
						span.navbar-toggler-icon
				#navbar.collapse.navbar-collapse(style='flex: 10000 1 auto')
					ul.navbar-nav.mr-auto

					ul.navbar-nav
						li.nav-item.dropdown
							a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
								|  Browse
							.dropdown-menu.dropdown-menu-right(aria-labelledby='navbarDropdownMenuLink')
								a.dropdown-item(href='/tool/topcards') Top Cards
								a.dropdown-item(href='/explore') Explore Cubes
								a.dropdown-item(href='/random') Random Cube
								a.dropdown-item(href='/advanced_search') Search
						li.nav-item.dropdown
							a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
								|  About
							.dropdown-menu.dropdown-menu-right(aria-labelledby='navbarDropdownMenuLink')
								a.dropdown-item(href='/contact') Contact
								a.dropdown-item(href='/dev/blog') Dev Blog
								a.dropdown-item(href='/ourstory') Our Story
								a.dropdown-item(href='/faq') FAQ
								a.dropdown-item(href='/donate') Donate
						if user
							li.nav-item.dropdown
								a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
									if user.notifications && user.notifications.length > 0
										.badge.badge-danger
											if user.notifications.length > 100
												| 100+
											else
												| #{user.notifications.length}
									img.notification-icon(style='height: 18px; margin: 0 0' src="/content/notification.png")
								.dropdown-menu.dropdown-no-green.dropdown-menu-right.p-0(aria-labelledby='navbarDropdownMenuLink')
									.card-header
										h6 Notifications
											a.float-right.mt-0(href="/user/clearnotifications").card-subtitle Clear All
	
									.sm-main-nav.notification-scrollarea
										if user.notifications && user.notifications.length > 0
											- var n = user.notifications.length
											if n > 100
												- n = 100
											while n > 0
												- n--
												.user-notification.py-3.px-2
													a.no-underline-hover(href="/user/notification/"+n)
														h6.card-subtitle #{user.notifications[n].text}
										else
											.my-2
												em.mx-4 You don't have any notifications to show.

							li.nav-item.dropdown
								a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
									|  #{user.username}  
								.dropdown-menu.dropdown-menu-right(aria-labelledby='navbarDropdownMenuLink')
									a.dropdown-item(href="/user/view/"+user.id) Your Profile
									a.dropdown-item(href="#", data-toggle='modal', data-target='#cubeModal') Create New Cube
									a.dropdown-item(href='/user/account') Account Information
									a.dropdown-item(href='/user/account/changepassword') Change Password
									a.dropdown-item(href='/user/account/updateemail') Update Email
									a.dropdown-item(href='/user/logout') Logout

						else
							li.nav-item
								a.nav-link(href='/user/register') Register
							li.nav-item
								a(href='/user/login').login-link.nav-link Login
		.container
			block content
			br
			hr
			footer
				p.center(style='text-align: center; font-size:12px')
					a Magic: The Gathering is &copy; 
					a(href='https://company.wizards.com/') Wizards of the Coast
					a . Cube Cobra is not affiliated nor produced nor endorsed by Wizards of the Coast. 
					br
					a All card images, mana symbols, expansions and art related to Magic the Gathering is a property of Wizards of the Coast/Hasbro. 
					br
					a This site is not affiliated nor endorsed by Scryfall LLC. This site endeavours to adhere to the Scryfall data guidelines. 
					br
					a Custom card images displayed in Cube Cobra are subject to the license terms under which they were uploaded to their hosts.
						|  Cube Cobra is not responsible for the content of custom card images.
					br
					a To report a custom card image violation, message the development team on 
					a(href='https://discord.gg/Hn39bCU') Discord.
					br
					a All other content Copyright &copy; 2019 Cube Cobra
					br
					a(href='/privacy') Privacy Privacy 
					a  | 
					a(href='/tos') Terms and Conditions
					a  | 
					a(href='/cookies') Cookies Policy

		script(src='/bower_components/bootstrap/dist/js/bootstrap.js')  
		script(src='/js/main.js')
		script(src='/js/autocard.js')

// Login modal
#loginModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='loginModalLabel', aria-hidden='true')
	.modal-dialog(role='document')
		.modal-content
			form(method='POST', action='/user/login')
				input(type='hidden', name='_csrf', value=csrfToken)
				.modal-header
					h5#loginModalLabel.modal-title Login
					button.close(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true') ×
				.modal-body
					.form-group
						label.col-form-label Username or Email Address:
						input#username.form-control(name='username', type='text')
					.form-group
						label.col-form-label Password:
						input#password.form-control(name='password', type='password')
					a(href='/user/lostpassword') Forgot password?
					if loginCallback
						input(type='hidden', name='loginCallback', value=loginCallback)     
					br
				.modal-footer
					input.btn.btn-success(type='submit',value='Login')
					button.btn.btn-secondary(type='button', data-dismiss='modal') Close

// Add cube modal
#cubeModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='cubeModalLabel', aria-hidden='true')
	.modal-dialog(role='document')
		.modal-content
			form(method='POST', action='/cube/add')
				input(type='hidden', name='_csrf', value=csrfToken)
				.modal-header
					h5#loginModalLabel.modal-title Create New Cube
					button.close(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true') ×
				.modal-body
					.form-group
						label.col-form-label Cube Name:
						input.form-control(name='name', type='text')
					br
				.modal-footer
					input.btn.btn-success(type='submit',value='Create')
					button.btn.btn-secondary(type='button', data-dismiss='modal') Close
