extends layout

block content
  != messages('message', locals)
  if errors
    each error, i in errors
      br
      div(class="alert alert-danger") #{error.msg}
  br
  h4 Search Results
  h6
    a(href='/advanced_search') Advanced Search
  if terms  
    h4 
      each term, i in terms
        a  
        span.badge.badge-success #{term}
  if results
    p
      em #{numresults} results
  if pages      
    hr
    nav(aria-label='pagination')
      ul.pagination
        each page, i in pages
          if page.active
            li.page-item.active(aria-current='page')
              a.page-link(href=page.url)=page.content
                span.sr-only (current)
          else
            li.page-item
              a.page-link(href=page.url)=page.content
  hr
  
  if results
    if results.length == 0
      p
        em No Results Found
    else
      .row
        each cube, i in results
          .col-lg-3.col-md-4.col-sm-6.col-xs-12
            .card
              .card-header
                h5=cube.name
                if cube.type
                  a #{cube.card_count} Card #{cube.type} Cube
                  br
                em
                  a Designed by 
                  a(href='/user/view/'+cube.owner) #{cube.owner_name}  
                  p Updated: 
                    a #{cube.updated_string}
              a(href='/cube/overview/'+get_cube_id(cube))
                img.card-img-top(src=cube.image_uri style='width: 100%;height: auto;')
              em.text-right(style='padding: 2px;') Art by: #{cube.image_artist}
              
              a.btn.btn-success.rounded-0(href='/cube/overview/'+get_cube_id(cube)) View
            br
              
  if pages      
    hr
    nav(aria-label='pagination')
      ul.pagination
        each page, i in pages
          if page.active
            li.page-item.active(aria-current='page')
              a.page-link(href=page.url)=page.content
                span.sr-only (current)
          else
            li.page-item
              a.page-link(href=page.url)=page.content
    hr
