extends user_base

block information
  .container
    dl.row
      dt.col-sm-3 Username
      dd.col-sm-9 #{user.username}
      dt.col-sm-3 Email
      dd.col-sm-9 #{user.email}
      dt.col-sm-3 About
      dd.col-sm-9
        form(method='POST', action='/user/updatebio')
          #form-group
            textarea.form-control(maxlength='2500', placeholder="Describe yourself here... (max length 2500)", name='body')=user.about
          br
          input.btn.btn-success(type='submit',value='Update')

block changepassword
  form(method='POST', action='/user/resetpassword')
    .form-group.row
      label.col-sm-4.col-form-label Old password:
      input#password.form-control.form-control.col-sm-8(name='password', type='password')
    .form-group.row
      label.col-sm-4.col-form-label New Password:
      input#newPassword.form-control.form-control.col-sm-8(name='password2', type='password')
    .form-group.row
      label.col-sm-4.col-form-label Confirm New Password:
      input#confirmPassword.form-control.form-control.col-sm-8(name='password3', type='password')
    input.btn.btn-success(type='submit',value='Change Password')

block changeemail
  form(method='POST', action='/user/updateemail')
    .form-group.row
      label.col-sm-4.col-form-label New Email:
      input#email.form-control.col-sm-8(name='email', type='text')
    .form-group.row
      label.col-sm-4.col-form-label Password:
      input#password.form-control.form-control.col-sm-8(name='password', type='password')
    input.btn.btn-success(type='submit',value='Update')
      
block yourcubes
  form(method='POST', action='/cube/add')
    li.list-group-itemform.form-inline
      .form-group.mx-sm-3.mb-2
        input.form-control(type='text',name='name' placeholder='Cube Name')
      button.btn.btn-success.mb-2(type='submit') Create New Cube
  br
  if cubes
    ul.list-group
    .row
      each cube, i in cubes
          .col-lg-4.col-md-4.col-sm-12.col-xs-12
            .card
              .card-header
                h5=cube.name
              a(href='/cube/overview/'+cube._id)
                img.card-img-top(src=cube.image_uri style='width: 100%;height: auto;')
              em.text-right(style='padding: 2px;') Art by: #{cube.image_artist}
              a.btn.btn-success(href='/cube/overview/'+cube._id) View
            br
  else
    p You have no cubes! Create one with the form below!
  br
