extends layout

block content
  h5
    nav(aria-label='breadcrumb')
      ol.breadcrumb
        li.breadcrumb-item
          a(href='#' style='color: #218937;') #{user_limited.username}
  if user_limited.about
    .card
      .card-body
        h5 About:
        p=user_limited.about
        if user
          if user.id == user_limited.id
          a.btn.btn-success(href='/user/account') Update
  br
    
  ul.nav.nav-tabs.nav-fill.nav-justified
    li.nav-item
      a.nav-link(href='/user/view/'+user_limited.id) Cubes
    li.nav-item
      a.nav-link.active(href='/user/decks/'+user_limited.id) Decks
  br
  if pages      
    hr
    nav(aria-label='pagination')
      ul.pagination
        each page, i in pages
          if page.active
            li.page-item.active(aria-current='page')
              a.page-link(href=page.url)=page.content
                span.sr-only (current)
          else
            li.page-item
              a.page-link(href=page.url)=page.content
    hr    
  .card
    .card-body
      if decks.length > 0
        each deck, i in decks
          a(href='/cube/deck/'+deck._id) #{deck.name}
          br    
  if pages      
    hr
    nav(aria-label='pagination')
      ul.pagination
        each page, i in pages
          if page.active
            li.page-item.active(aria-current='page')
              a.page-link(href=page.url)=page.content
                span.sr-only (current)
          else
            li.page-item
              a.page-link(href=page.url)=page.content
    hr
