extends ../layout

block content
  .cubenav
    ul.nav.nav-tabs.nav-fill(style='padding-top:10px;')
      li.nav-item
        h5(href='#' style='color: #218937;') #{user_limited.username}
      li.nav-item
        a.nav-link(href='/user/view/'+user_limited.id) Cubes
      li.nav-item(style='padding-right:10px;')
        a.nav-link.active(href='/user/decks/'+user_limited.id) Decks
        
  include ../flash
  if user_limited.about
    br
    .card
      .card-body
        h5 About:
        p=user_limited.about
        if user
          if user.id == user_limited.id
            a.btn.btn-success(href='/user/account') Update
          
  br
  if pages      
    hr
    nav(aria-label='pagination')
      ul.pagination
        each page, i in pages
          if page.active
            li.page-item.active(aria-current='page')
              a.page-link(href=page.url)=page.content
                span.sr-only (current)
          else
            li.page-item
              a.page-link(href=page.url)=page.content
    hr    
  .card
    .card-body
      if decks.length > 0
        each deck, i in decks
          a(href='/cube/deck/'+deck._id) #{deck.name}
          br    
  if pages      
    hr
    nav(aria-label='pagination')
      ul.pagination
        each page, i in pages
          if page.active
            li.page-item.active(aria-current='page')
              a.page-link(href=page.url)=page.content
                span.sr-only (current)
          else
            li.page-item
              a.page-link(href=page.url)=page.content
    hr
