extends ../layout

block content
	.cubenav
		ul.nav.nav-tabs.nav-fill(style='padding-top:10px;')
			li.nav-item
				h5(href='#' style='color: #218937;') #{user_limited.username}
			li.nav-item
				a.nav-link.active(href='/user/view/'+user_limited.id) Cubes
			li.nav-item(style='padding-right:10px;')
				a.nav-link(href='/user/decks/'+user_limited.id) Decks
	include ../flash

	if user_limited.about
		br
		.card
			.card-body
				h5 About:
				p=user_limited.about
				if user
					if user.id == user_limited.id
					a.btn.btn-success(href='/user/account') Update
	br
	.row
		each cube, i in cubes
			.col-lg-3.col-md-6.col-sm-12.col-xs-12
				.card
					.card-header
						h5=cube.name
						if cube.type
							a #{cube.card_count} Card #{cube.type} Cube
							br
					a(href='/cube/overview/'+cube._id)
						img.card-img-top(src=cube.image_uri style='width: 100%;height: auto;')
					em.text-right(style='padding: 2px;') Art by: #{cube.image_artist}
					a.btn.btn-success(href='/cube/overview/'+cube._id) View
				br
