extends ../layout

block content
	.cubenav
		ul.nav.nav-tabs.nav-fill.pt-2
			li.nav-item
				h5(href='#' style='color: #218937;') #{user_limited.username}
				h6(href='#') #{followers} followers
				if user && user.id != user_limited.id
					if !following
						a.btn.btn-success.rounded-0.w-100(href='/user/follow/'+user_limited.id style="width:auto;") Follow
					else
						a.btn.btn-outline-danger.rounded-0.w-100(href='/user/unfollow/'+user_limited.id style="width:auto;") Unfollow
			li.nav-item.px-2.align-bottom(style="margin-top:auto;")
				a.nav-link.active(href='/user/view/'+user_limited.id) Cubes
			li.nav-item.px-2.align-bottom(style="margin-top:auto;")
				a.nav-link(href='/user/decks/'+user_limited.id) Decks
				
		if user && user.id == user_limited.id
			.usercontrols
				nav.navbar.navbar-light
					ul.navbar-nav
							li.nav-item
								a.nav-link(href="#", data-toggle='modal', data-target='#cubeModal') Create New Cube

	include ../flash

	br
	.card
		.card-header
			h5 About:
		.card-body
			if user_limited.about
				p #{user_limited.about}
			else
				em This user has not filled out their about section.
		if user && user.id == user_limited.id
			.card-footer
				a.btn.btn-success(href='/user/account') Update
	br
	.row
		each cube, i in cubes
			.col-lg-3.col-md-6.col-sm-12.col-xs-12
				.card
					.card-header
						h5=cube.name
						if cube.type
							a #{cube.card_count} Card #{cube.type} Cube
							br
					a(href='/cube/overview/'+get_cube_id(cube))
						img.card-img-top(src=cube.image_uri style='width: 100%;height: auto;')
					em.text-right(style='padding: 2px;') Art by: #{cube.image_artist}
					a.btn.btn-success.rounded-0(href='/cube/overview/'+get_cube_id(cube)) View
				br
