extends layout

block content
  include ../flash
  
  h5
    nav(aria-label='breadcrumb')
      ol.breadcrumb
        li.breadcrumb-item
          a(href='/user/view/'+cube.owner style='color: #218937;') #{owner}
        li.breadcrumb-item.active(aria-current='page') 
          a #{cube.name}
          if cube.type
            a  (#{cube.card_count} Card #{cube.type} Cube)


  ul.nav.nav-tabs.nav-fill.nav-justified
      li.nav-item
        a.nav-link(href='/cube/overview/'+cube_id) Overview
      li.nav-item
        a.nav-link(href='/cube/list/'+cube_id) List
      li.nav-item
        a.nav-link.active(href='/cube/playtest/'+cube_id) Playtest
      li.nav-item
        a.nav-link(href='/cube/analysis/'+cube_id) Analysis
      li.nav-item
        a.nav-link(href='/cube/blog/'+cube_id) Blog
  .container
    br
    .row
      .col     
        br  
        h4=title
        h6=subtitle
        br
        ul.list-group
          each card, i in picks
            if card.colorcategory == 'w'
              li.list-group-item.autocard.white(card=card.image_normal card_flip=card.image_flip)
                a.card-list-item= card.name
                for symbol, j in card.parsed_cost
                  if symbol.length > 0
                    img(src='/content/symbols/'+symbol+'.png' align='right' width='15px' style='margin-top: 5px;')
            if card.colorcategory == 'u'
              li.list-group-item.autocard.blue(card=card.image_normal card_flip=card.image_flip)
                a.card-list-item= card.name
                for symbol, j in card.parsed_cost
                  if symbol.length > 0
                    img(src='/content/symbols/'+symbol+'.png' align='right' width='15px' style='margin-top: 5px;')
            if card.colorcategory == 'b'
              li.list-group-item.autocard.black(card=card.image_normal card_flip=card.image_flip)
                a.card-list-item= card.name
                for symbol, j in card.parsed_cost
                  if symbol.length > 0
                    img(src='/content/symbols/'+symbol+'.png' align='right' width='15px' style='margin-top: 5px;')
            if card.colorcategory == 'r'
              li.list-group-item.autocard.red(card=card.image_normal card_flip=card.image_flip)
                a.card-list-item= card.name
                for symbol, j in card.parsed_cost
                  if symbol.length > 0
                    img(src='/content/symbols/'+symbol+'.png' align='right' width='15px' style='margin-top: 5px;')
            if card.colorcategory == 'g'
              li.list-group-item.autocard.green(card=card.image_normal card_flip=card.image_flip)
                a.card-list-item= card.name
                for symbol, j in card.parsed_cost
                  if symbol.length > 0
                    img(src='/content/symbols/'+symbol+'.png' align='right' width='15px' style='margin-top: 5px;')
            if card.colorcategory == 'c'
              li.list-group-item.autocard.colorless(card=card.image_normal card_flip=card.image_flip)
                a.card-list-item= card.name
                for symbol, j in card.parsed_cost
                  if symbol.length > 0
                    img(src='/content/symbols/'+symbol+'.png' align='right' width='15px' style='margin-top: 5px;')
            if card.colorcategory == 'm'
              li.list-group-item.autocard.multi(card=card.image_normal card_flip=card.image_flip)
                a.card-list-item= card.name
                for symbol, j in card.parsed_cost
                  if symbol.length > 0
                    img(src='/content/symbols/'+symbol+'.png' align='right' width='15px' style='margin-top: 5px;')
            if card.colorcategory == 'l'
              li.list-group-item.autocard.lands(card=card.image_normal card_flip=card.image_flip)
                a.card-list-item= card.name
                for symbol, j in card.parsed_cost
                  if symbol.length > 0
                    img(src='/content/symbols/'+symbol+'.png' align='right' width='15px' style='margin-top: 5px;')
    
      .col-9
        each card, i in activecards
          a.autocard(card=card.image_normal, href='/cube/draft/pick/'+draftid+';'+card._id  card_flip=card.image_flip)
            img( src=card.image_normal, width='150', height='210' alt=card.name)
