extends cube_layout

block cube_toolbar
  //edit controls
  if user
    if user.id == cube.owner
      .usercontrols
        nav.navbar.navbar-expand.navbar-light
          .collapse.navbar-collapse
            ul.navbar-nav.flex-wrap
              li.nav-item
                a.nav-link(href='#' data-toggle='modal', data-target='#overviewModal') Edit Overview
              li.nav-item
                a.nav-link(href='#' data-toggle='modal', data-target='#deleteCubeModal') Delete Cube
                
  include ../dynamic_flash
block cube_content
  #react-root
  
  input#blogData(type='hidden', value=(post?post:'false'))
  input#cubeData(type='hidden', value=cube)
  input#priceData(type='hidden', value=price)
  input#ownerData(type='hidden', value=owner)
  input#adminData(type='hidden', value=admin)
  input#followedData(type='hidden', value=is_following)
  if user
    input#userid(type='hidden', value=user._id)
  input#canEdit(type='hidden', name='canEdit', value=user && user.id == cube.owner ? 'true' : 'false')

  if user
    if user.id == cube.owner
      #deleteModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='deleteModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
          .modal-content
            .modal-header
              h5.modal-title Confirm Delete
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
            .modal-body
              P Are you sure you wish to delete this post? This action cannot be undone.
            .modal-footer
              input.btn.btn-danger.delete-blog(type='submit',value='Delete', data-id='', id="delete")
              button.btn.btn-secondary(type='button', data-dismiss='modal') Cancel
      // edit overview modal
      #overviewModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='cubeModalLabel', aria-hidden='true')
        .modal-dialog.modal-lg(role='document')
          form#postBlogForm(method='POST', action='/cube/editoverview/'+cube_id, autocomplete='off')
            input(type='hidden', name='_csrf', value=csrfToken)
            .modal-content
              .modal-header
                h5.modal-title Edit Overview
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                  span(aria-hidden='true') ×
              .modal-body
                .form-group
                  label.col-form-label Cube Name:
                  input.form-control(name='name' type='text', value=cube.name)
                  .form-check
                    input.form-check-input(name='isListed' type='checkbox', checked=cube.isListed)
                    label.form-check-label Public
                  .form-check
                    input.form-check-input(name='privatePrices' type='checkbox', checked=cube.privatePrices)
                    label.form-check-label Hide Price information
                  label.col-form-label Cube Image:
                  .card(style="width: 16rem;")
                    img#dynamicImage(src=cube.image_uri style='width: 100%;height: auto;')
                  P 
                  form(autocomplete='off').form-inline
                    .mb-2.autocomplete
                      input.form-control#imageInput(name='imagename' type='text', value=cube.image_name)
                  input.postBlogHiddenHTML(type='hidden', name='html')
                  label.col-form-label Cube Description:
                  include ../texteditor
                  label.col-form-label Custom URL:
                  input.form-control(name='urlAlias' type='text', value=cube.urlAlias placeholder='Give this cube an easy to remember URL.')
              .modal-footer
                input.btn.btn-success(type='submit',value='Save')
                button.btn.btn-secondary(type='button', data-dismiss='modal') Close

      #deleteCubeModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='deleteCubeModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
          .modal-content
            .modal-header
              h5.modal-title Confirm Delete
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
            .modal-body
              P Are you sure you wish to delete this cube? This action cannot be undone.
              P Please type 'Delete' in order to confirm
                  input.form-control(id="confirmation", type="text")
            .modal-footer
              input.btn.btn-danger.delete-cube(type='submit',value='Delete', data-id=cube_id, disabled="", id="delete")
              button.btn.btn-secondary(type='button', data-dismiss='modal') Cancel
  script(src='/js/csrf.js')
  script(src='/js/image_autocomplete.js')
  script(src='/js/blog.js')
  script(src='/js/deleteconfirm.js')
  script(src='/js/cube_overview.bundle.js')
