extends cube_layout

block cube_toolbar
  //edit controls
  if user
    if user.id == cube.owner
      .usercontrols
        nav.navbar.navbar-expand.navbar-light
          .collapse.navbar-collapse
            ul.navbar-nav
              li.nav-item
                a.nav-link.newBlogButton(href='#' data-toggle='modal', data-target='#customDraftModal') Create new blog post

block cube_content
  if pages
    hr
    nav(aria-label='pagination')
      ul.pagination
        each page, i in pages
          if page.active
            li.page-item.active(aria-current='page')
              a.page-link(href=page.url)=page.content
                span.sr-only (current)
          else
            li.page-item
              a.page-link(href=page.url)=page.content
    hr
  if posts
    each post, i in posts
      .card.mt-3
        .card-header
            h5.card-title=post.title
            h6.card-subtitle.mb-2.text-muted=post.date_formatted
        .card-body
          if post.changelist && post.html
            .row.no-gutters
              .col.col-12.col-4-md(style='border-right: 1px solid #DFDFDF;')
                p.card-text
                  a !{post.changelist}
              .col.col-12.col-4-sm
                .card-text
                  a !{post.html}
          else
            if post.changelist
              p.card-text
                a !{post.changelist}
            if post.body
              p.card-text=post.body
            if post.html
              .card-text
                a !{post.html}
        if user && user.id == cube.owner
          .card-footer
            span
              button.btn.btn-success.editBlogButton(role='button' data-id=post._id) Edit
              a
              a.btn.btn-danger(data-toggle='collapse', href='#collapsepost'+i, role='button') Delete
            .collapse(id='collapsepost'+i)
              span
                a Are you sure? This action cannot be undone.
                button.btn.btn-danger.delete-blog(type='submit',value='Delete', data-id=post._id ) Yes, delete this post

    if pages
      hr
      nav(aria-label='pagination')
        ul.pagination
          each page, i in pages
            if page.active
              li.page-item.active(aria-current='page')
                a.page-link(href=page.url)=page.content
                  span.sr-only (current)
            else
              li.page-item
                a.page-link(href=page.url)=page.content
      hr
  if user
    if user.id == cube.owner
      // edit overview modal
      #editBlogModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='cubeModalLabel', aria-hidden='true')
        .modal-dialog.modal-lg(role='document')
          .modal-content
            form#postBlogForm(method='POST', action='/cube/blog/post/'+cube_id)
              .modal-header
                h5#blogEditTitle Edit Blog Post
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                  span(aria-hidden='true') ×
              .modal-body
                  label Title:
                  input#postBlogTitleInput.form-control(maxlength='200' name='title', type='text')
                  label Body:
                  input#postBlogHiddenId(type='hidden', name='id')
                  input#postBlogHiddenHTML(type='hidden', name='html')
                  include ../texteditor
              .modal-footer
                input.btn.btn-success(type='submit',value='Save')
                button.btn.btn-secondary(type='button', data-dismiss='modal') Close
      script(src='/js/blog.js')
