extends ../layout

block content
  .cubenav
    ul.nav.nav-tabs.nav-fill(style='padding-top:10px;')
      li.nav-item
        h6(href='#' style='color: #218937;padding:5px;') #{cube.name}      
          if cube.type
            | (#{cube.card_count} Card #{cube.type} Cube)
      li.nav-item
        a.nav-link(href='/cube/overview/'+cube_id) Overview
      li.nav-item
        a.nav-link(href='/cube/list/'+cube_id) List
      li.nav-item
        a.nav-link.active(href='/cube/playtest/'+cube_id) Playtest
      li.nav-item
        a.nav-link(href='/cube/analysis/'+cube_id) Analysis
      li.nav-item(style='padding-right:10px;')
        a.nav-link(href='/cube/blog/'+cube_id) Blog
  include ../flash
        
  if pages      
    hr
    nav(aria-label='pagination')
      ul.pagination
        each page, i in pages
          if page.active
            li.page-item.active(aria-current='page')
              a.page-link(href=page.url)=page.content
                span.sr-only (current)
          else
            li.page-item
              a.page-link(href=page.url)=page.content
    hr    
  br
  .card
    .card-header
      h4 All Decks
    .card-body
      if decks.length > 0
        each deck, i in decks
          a(href='/cube/deck/'+deck._id) #{deck.name}
          br    
  if pages      
    hr
    nav(aria-label='pagination')
      ul.pagination
        each page, i in pages
          if page.active
            li.page-item.active(aria-current='page')
              a.page-link(href=page.url)=page.content
                span.sr-only (current)
          else
            li.page-item
              a.page-link(href=page.url)=page.content
    hr
