extends ../layout

block content
  .cubenav
    ul.nav.nav-tabs.nav-fill(style='padding-top:10px;')
      li.nav-item
        h6(href='#' style='color: #218937;padding:5px;') #{cube.name}       
          if cube.type
            | (#{cube.card_count} Card #{cube.type} Cube)
      li.nav-item
        a.nav-link(href='/cube/overview/'+cube_id) Overview
      li.nav-item
        a.nav-link(href='/cube/list/'+cube_id) List
      li.nav-item
        a.nav-link(href='/cube/playtest/'+cube_id) Playtest
      li.nav-item
        a.nav-link.active(href='/cube/analysis/'+cube_id) Analysis
      li.nav-item(style='padding-right:10px;')
        a.nav-link(href='/cube/blog/'+cube_id) Blog
  include ../flash
      
  .container(style='padding-top:10px;')
    .row
      .col-2
        #v-pills-tab.nav.flex-column.nav-pills(role='tablist', aria-orientation='vertical')
          a#v-pills-curve-tab.nav-link.active(data-toggle='pill', href='#v-pills-curve', role='tab', aria-controls='v-pills-curve', aria-selected='true') Curve
          a#v-pills-types-tab.nav-link(data-toggle='pill', href='#v-pills-types', role='tab', aria-controls='v-pills-types', aria-selected='false') Type Breakdown
          a#v-pills-multi-tab.nav-link(data-toggle='pill', href='#v-pills-multi', role='tab', aria-controls='v-pills-multi', aria-selected='false') Multicolor Counts
      .col-10
        #v-pills-tabContent.tab-content
          #v-pills-curve.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='v-pills-curve-tab')
            h4 Curve
            p Click the labels to filter the datasets. Lands are omitted for the curve chart.  
            script(src='https://cdn.jsdelivr.net/npm/chart.js@2.8.0')
            canvas#canvas
            input#curveData(type='hidden', name='cubeID', value=curve)        
            script(src='/js/charts.js')
          #v-pills-types.tab-pane.fade(role='tabpanel', aria-labelledby='v-pills-types-tab')
            h4 Type Breakdown
            p Each card is only counted once. Artifact creatures and enchantment creatures are counted only as creatures.
            table.table.table-bordered
              thead
                tr
                  th(scope='col') 
                  th(scope='col')
                    img(src='/content/symbols/w.png' alt='White' title='White')
                  th(scope='col')
                    img(src='/content/symbols/u.png' alt='Blue' title='Blue')
                  th(scope='col')
                    img(src='/content/symbols/b.png' alt='Black' title='Black')
                  th(scope='col')
                    img(src='/content/symbols/r.png' alt='Red' title='Red')
                  th(scope='col')
                    img(src='/content/symbols/g.png' alt='Green' title='Green')
                  th(scope='col')
                    img(src='/content/symbols/c.png' alt='Colorless' title='Colorless')
                  th(scope='col')
                    img(src='/content/symbols/m.png' alt='Multicolored' title='Multicolored')
                  th(scope='col') Total
              tbody
                tr
                  th(scope='row') Creatures
                  td=TypeByColor.Creatures.White
                  td=TypeByColor.Creatures.Blue
                  td=TypeByColor.Creatures.Black
                  td=TypeByColor.Creatures.Red
                  td=TypeByColor.Creatures.Green
                  td=TypeByColor.Creatures.Colorless
                  td=TypeByColor.Creatures.Multi
                  td=TypeByColor.Creatures.Total
                tr
                  th(scope='row') Instants
                  td=TypeByColor.Instants.White
                  td=TypeByColor.Instants.Blue
                  td=TypeByColor.Instants.Black
                  td=TypeByColor.Instants.Red
                  td=TypeByColor.Instants.Green
                  td=TypeByColor.Instants.Colorless
                  td=TypeByColor.Instants.Multi
                  td=TypeByColor.Instants.Total
                tr
                  th(scope='row') Sorceries
                  td=TypeByColor.Sorceries.White
                  td=TypeByColor.Sorceries.Blue
                  td=TypeByColor.Sorceries.Black
                  td=TypeByColor.Sorceries.Red
                  td=TypeByColor.Sorceries.Green
                  td=TypeByColor.Sorceries.Colorless
                  td=TypeByColor.Sorceries.Multi
                  td=TypeByColor.Sorceries.Total
                tr
                  th(scope='row') Enchantments
                  td=TypeByColor.Enchantments.White
                  td=TypeByColor.Enchantments.Blue
                  td=TypeByColor.Enchantments.Black
                  td=TypeByColor.Enchantments.Red
                  td=TypeByColor.Enchantments.Green
                  td=TypeByColor.Enchantments.Colorless
                  td=TypeByColor.Enchantments.Multi
                  td=TypeByColor.Enchantments.Total
                tr
                  th(scope='row') Artifacts
                  td=TypeByColor.Artifacts.White
                  td=TypeByColor.Artifacts.Blue
                  td=TypeByColor.Artifacts.Black
                  td=TypeByColor.Artifacts.Red
                  td=TypeByColor.Artifacts.Green
                  td=TypeByColor.Artifacts.Colorless
                  td=TypeByColor.Artifacts.Multi
                  td=TypeByColor.Artifacts.Total
                tr
                  th(scope='row') Planeswalkers
                  td=TypeByColor.Planeswalkers.White
                  td=TypeByColor.Planeswalkers.Blue
                  td=TypeByColor.Planeswalkers.Black
                  td=TypeByColor.Planeswalkers.Red
                  td=TypeByColor.Planeswalkers.Green
                  td=TypeByColor.Planeswalkers.Colorless
                  td=TypeByColor.Planeswalkers.Multi
                  td=TypeByColor.Planeswalkers.Total
                tr
                  th(scope='row') Lands
                  td=TypeByColor.Lands.White
                  td=TypeByColor.Lands.Blue
                  td=TypeByColor.Lands.Black
                  td=TypeByColor.Lands.Red
                  td=TypeByColor.Lands.Green
                  td=TypeByColor.Lands.Colorless
                  td=TypeByColor.Lands.Multi
                  td=TypeByColor.Lands.Total
                tr
                  th(scope='row') Total
                  td=TypeByColor.Total.White
                  td=TypeByColor.Total.Blue
                  td=TypeByColor.Total.Black
                  td=TypeByColor.Total.Red
                  td=TypeByColor.Total.Green
                  td=TypeByColor.Total.Colorless
                  td=TypeByColor.Total.Multi
                  td=TypeByColor.Total.Total
          #v-pills-multi.tab-pane.fade(role='tabpanel', aria-labelledby='v-pills-multi-tab')
            h4 Multicolored Counts
            br
            .row
              .col-md-3
                table.table.table-bordered
                  thead
                    tr
                      th(scope='col') 2 Color
                      th(scope='col') Count
                  tbody
                    tr
                      th(scope='row' style='padding: 10px;')
                        img(src='/content/symbols/w.png' alt='White' title='Azorius')
                        img(src='/content/symbols/u.png' alt='Blue' title='Azorius')
                      td=MulticoloredCounts.Azorius
                    tr
                      th(scope='row' style='padding: 10px;')
                        img(src='/content/symbols/u.png' alt='Blue' title='Dimir')
                        img(src='/content/symbols/b.png' alt='Black' title='Dimir')
                      td=MulticoloredCounts.Dimir
                    tr
                      th(scope='row' style='padding: 10px;')
                        img(src='/content/symbols/b.png' alt='Black' title='Rakdos')
                        img(src='/content/symbols/r.png' alt='Red' title='Rakdos')
                      td=MulticoloredCounts.Rakdos
                    tr
                      th(scope='row' style='padding: 10px;')
                        img(src='/content/symbols/r.png' alt='Red' title='Gruul')
                        img(src='/content/symbols/g.png' alt='Green' title='Gruul')
                      td=MulticoloredCounts.Gruul
                    tr
                      th(scope='row' style='padding: 10px;')
                        img(src='/content/symbols/g.png' alt='Green' title='Selesnya')
                        img(src='/content/symbols/w.png' alt='White' title='Selesnya')
                      td=MulticoloredCounts.Selesnya
                    tr
                      th(scope='row' style='padding: 10px;')
                        img(src='/content/symbols/w.png' alt='White' title='Orzhov')
                        img(src='/content/symbols/b.png' alt='Black' title='Orzhov')
                      td=MulticoloredCounts.Orzhov
                    tr
                      th(scope='row' style='padding: 10px;')
                        img(src='/content/symbols/u.png' alt='Blue' title='Izzet')
                        img(src='/content/symbols/r.png' alt='Red' title='Izzet')
                      td=MulticoloredCounts.Izzet
                    tr
                      th(scope='row' style='padding: 10px;')
                        img(src='/content/symbols/g.png' alt='Green' title='Golgari')
                        img(src='/content/symbols/b.png' alt='Black' title='Golgari')
                      td=MulticoloredCounts.Golgari
                    tr
                      th(scope='row' style='padding: 10px;')
                        img(src='/content/symbols/r.png' alt='Red' title='Boros')
                        img(src='/content/symbols/w.png' alt='White' title='Boros')
                      td=MulticoloredCounts.Boros
                    tr
                      th(scope='row' style='padding: 10px;')
                        img(src='/content/symbols/g.png' alt='Green' title='Simic')
                        img(src='/content/symbols/u.png' alt='Blue' title='Simic')
                      td=MulticoloredCounts.Simic
              .col-md-3
                table.table.table-bordered
                  thead
                    tr
                      th(scope='col') 3 Color
                      th(scope='col') Count
                  tbody
                    tr
                      th(scope='row' style='padding: 10px;')
                        img(src='/content/symbols/w.png' alt='White' title='Simic')
                        img(src='/content/symbols/b.png' alt='Black' title='Simic')
                        img(src='/content/symbols/g.png' alt='Green' title='Simic')
                      td=MulticoloredCounts.Abzan
                    tr
                      th(scope='row' style='padding: 10px;')
                        img(src='/content/symbols/w.png' alt='White' title='Bant')
                        img(src='/content/symbols/u.png' alt='Blue' title='Bant')
                        img(src='/content/symbols/g.png' alt='Green' title='Bant')
                      td=MulticoloredCounts.Bant
                    tr
                      th(scope='row' style='padding: 10px;')
                        img(src='/content/symbols/w.png' alt='White' title='Esper')
                        img(src='/content/symbols/u.png' alt='Blue' title='Esper')
                        img(src='/content/symbols/b.png' alt='Black' title='Esper')
                      td=MulticoloredCounts.Esper
                    tr
                      th(scope='row' style='padding: 10px;')
                        img(src='/content/symbols/u.png' alt='Blue' title='Grixis')
                        img(src='/content/symbols/b.png' alt='Black' title='Grixis')
                        img(src='/content/symbols/r.png' alt='Red' title='Grixis')
                      td=MulticoloredCounts.Grixis
                    tr
                      th(scope='row' style='padding: 10px;')
                        img(src='/content/symbols/w.png' alt='White' title='Jeskai')
                        img(src='/content/symbols/u.png' alt='Blue' title='Jeskai')
                        img(src='/content/symbols/r.png' alt='Red' title='Jeskai')
                      td=MulticoloredCounts.Jeskai
                    tr
                      th(scope='row' style='padding: 10px;')
                        img(src='/content/symbols/b.png' alt='Black' title='Jund')
                        img(src='/content/symbols/r.png' alt='Red' title='Jund')
                        img(src='/content/symbols/g.png' alt='Green' title='Jund')
                      td=MulticoloredCounts.Jund
                    tr
                      th(scope='row' style='padding: 10px;')
                        img(src='/content/symbols/w.png' alt='White' title='Mardu')
                        img(src='/content/symbols/b.png' alt='Black' title='Mardu')
                        img(src='/content/symbols/r.png' alt='Red' title='Mardu')
                      td=MulticoloredCounts.Mardu
                    tr
                      th(scope='row' style='padding: 10px;')
                        img(src='/content/symbols/w.png' alt='White' title='Naya')
                        img(src='/content/symbols/r.png' alt='Red' title='Naya')
                        img(src='/content/symbols/g.png' alt='Green' title='Naya')
                      td=MulticoloredCounts.Naya
                    tr
                      th(scope='row' style='padding: 10px;')
                        img(src='/content/symbols/u.png' alt='Blue' title='Sultai')
                        img(src='/content/symbols/b.png' alt='Black' title='Sultai')
                        img(src='/content/symbols/g.png' alt='Green' title='Sultai')
                      td=MulticoloredCounts.Sultai
                    tr
                      th(scope='row' style='padding: 10px;')
                        img(src='/content/symbols/u.png' alt='Blue' title='Temur')
                        img(src='/content/symbols/r.png' alt='Red' title='Temur')
                        img(src='/content/symbols/g.png' alt='Green' title='Temur')
                      td=MulticoloredCounts.Temur
              .col-md-3
                table.table.table-bordered
                  thead
                    tr
                      th(scope='col') 4-5 Color
                      th(scope='col') Count
                  tbody
                    tr
                      th(scope='row' style='padding: 10px;')
                        img(src='/content/symbols/u.png' alt='Blue' title='NonWhite')
                        img(src='/content/symbols/b.png' alt='Black' title='NonWhite')
                        img(src='/content/symbols/r.png' alt='Red' title='NonWhite')
                        img(src='/content/symbols/g.png' alt='Green' title='NonWhite')
                      td=MulticoloredCounts.NonWhite
                    tr
                      th(scope='row' style='padding: 10px;')
                        img(src='/content/symbols/b.png' alt='Blue' title='NonBlue')
                        img(src='/content/symbols/r.png' alt='Red' title='NonBlue')
                        img(src='/content/symbols/g.png' alt='Green' title='NonBlue')
                        img(src='/content/symbols/w.png' alt='White' title='NonBlue')
                      td=MulticoloredCounts.NonBlue           
                    tr
                      th(scope='row' style='padding: 10px;')
                        img(src='/content/symbols/r.png' alt='Red' title='NonBlack')
                        img(src='/content/symbols/g.png' alt='Green' title='NonBlack')
                        img(src='/content/symbols/w.png' alt='White' title='NonBlack')
                        img(src='/content/symbols/u.png' alt='Blue' title='NonBlack')
                      td=MulticoloredCounts.NonBlack
                    tr
                      th(scope='row' style='padding: 10px;')
                        img(src='/content/symbols/g.png' alt='Green' title='NonRed')
                        img(src='/content/symbols/w.png' alt='White' title='NonRed')
                        img(src='/content/symbols/u.png' alt='Blue' title='NonRed')
                        img(src='/content/symbols/b.png' alt='Black' title='NonRed')
                      td=MulticoloredCounts.NonRed
                    tr
                      th(scope='row' style='padding: 10px;')
                        img(src='/content/symbols/w.png' alt='White' title='NonGreen')
                        img(src='/content/symbols/u.png' alt='Blue' title='NonGreen')
                        img(src='/content/symbols/b.png' alt='Black' title='NonGreen')
                        img(src='/content/symbols/r.png' alt='Red' title='NonGreen')
                      td=MulticoloredCounts.NonGreen
                    tr
                      th(scope='row' style='padding: 10px;')
                        img(src='/content/symbols/w.png' alt='White' title='FiveColor')
                        img(src='/content/symbols/u.png' alt='Blue' title='FiveColor')
                        img(src='/content/symbols/b.png' alt='Black' title='FiveColor')
                        img(src='/content/symbols/r.png' alt='Red' title='FiveColor')
                        img(src='/content/symbols/g.png' alt='Green' title='FiveColor')
                      td=MulticoloredCounts.FiveColor
              .col-md-3
                table.table.table-bordered
                  thead
                    tr
                      th(scope='col') Totals
                      th(scope='col') Count
                  tbody
                    tr
                      th(scope='row' style='padding: 10px;')
                        img(src='/content/symbols/w.png' alt='White' title='White')
                      td=MulticoloredCounts.White
                    tr
                      th(scope='row' style='padding: 10px;')
                        img(src='/content/symbols/u.png' alt='Blue' title='Blue')
                      td=MulticoloredCounts.Blue 
                    tr
                      th(scope='row' style='padding: 10px;')
                        img(src='/content/symbols/b.png' alt='Black' title='Black')
                      td=MulticoloredCounts.Black
                    tr
                      th(scope='row' style='padding: 10px;')
                        img(src='/content/symbols/r.png' alt='Red' title='Red')
                      td=MulticoloredCounts.Red
                    tr
                      th(scope='row' style='padding: 10px;')
                        img(src='/content/symbols/g.png' alt='Green' title='Green')
                      td=MulticoloredCounts.Green


  
  
          
