extends cube_layout

block cube_content
  include ../flash
  .container
    br
    .card
      .card-header
        .row
          .col-md-6
            h5.card-title Sample Pack
          .col-md-6.text-right
            a.btn.btn-success.mr-2(href=`/cube/samplepack/${cube_id}`) New Pack
            a.btn.btn-success(href=`/cube/samplepackimage/${cube_id}/${seed}`) Get Image
      .card-body
        .pack-body.row.justify-content-center.no-gutters
          .col(style="max-width:800px;")
            .samplepack.row.justify-content-center.no-gutters
              if pack
                each card, i in pack
                    .col-2-4
                      a.autocard(card=card.image_normal)
                        img.card-border.defaultCardImage( src=card.image_normal, width='150', height='210')
