extends ../layout

block content
  link(rel='stylesheet' href='/css/tags.css')
  link(rel='stylesheet' href='/css/editcube.css')
  .cubenav
    ul.nav.nav-tabs.nav-fill(style='padding-top:10px;')
      li.nav-item
        h5(href='#' style='color: #218937;padding:5px;') Compare Cubes
        h6(href='#' style='color: #218937;padding:5px;')
          span(style='color: #495057; padding:5px;') Base Cube:
          a(href='/cube/list/'+cube_id style='color: #218937;padding:5px;') #{cube.name}
            |  (#{cube.card_count} cards)
          span(style='color: #495057; padding:5px;') Comparison Cube:
          a(href='/cube/list/'+cubeB._id style='color: #218937;padding:5px;') #{cubeB.name}
            |  (#{cubeB.card_count} cards)

  include ../flash

  input#cubeID(type='hidden', name='cubeID', value=cube_id)
  input#cubeB_ID(type='hidden', name='cubeB_ID', value=cube_b_id)
  input#in_both(type='hidden', name='in_both', value=in_both)
  input#only_a(type='hidden', name='only_a', value=only_a)
  input#only_b(type='hidden', name='only_b', value=only_b)
  input#cuberaw(type='hidden', name='cuberaw', value=cube_raw)
  input#cubeTagColors(type='hidden', name='cubeTagColors', value=JSON.stringify(cube.tag_colors.concat(cubeB.tag_colors)))
  input#hideTagColors(type='hidden', name='hideTagColors', value=(!!user && user.hide_tag_colors).toString())
  if cube.default_sorts
    input#sort1(type='hidden', name='edittoken', value=cube.default_sorts[0])
    input#sort2(type='hidden', name='edittoken', value=cube.default_sorts[1])

  //Cube list
  #react-root

  // Modal
  #tagColorsModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
    .modal-dialog.modal-dialog-centered.modal-lg(role='document')
      .modal-content
        .modal-header
          h5#tagColorsTitle.modal-title View Tag Colors
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        #showTagColors
          .form-check.form-check-inline
            input#showTagColorsCheckbox.form-check-input(type='checkbox')
            label.form-check-label(for='showTagColorsCheckbox') Show Tag Colors in Card List 
        #tagsColumn.col

        .modal-footer
          button#tagColorsCancel.btn.btn-danger(type='button', data-dismiss='modal', aria-label='Close') Close

  script(src='/js/csrf.js')
  script(src='/js/autocomplete.js')
  script(src='/js/sortfilter.js')
  script(src='/js/tags.js')
  script(src='/js/editcube.js')
  script(src='/js/autocard.js')
  script(src='/js/cube_compare.bundle.js')
