extends cube_layout

block cube_content
  include ../flash
  link(rel='stylesheet' href='/css/draft.css')
  br
  if oldformat
    .container
      h4 Drafted by #{drafter}
      br
      .row
        each card, i in cards
          a.autocard(card=card.display_image)
            img( src=card.display_image, width='150', height='210')
  else
    .card.card-hover#deckhover
      .card-header
        h4 Drafted by #{drafter}
        span#customImageDisplayMenuItem
          input#customImageDisplayToggle(type='checkbox')
          label(for='customImageDisplayToggle') Show Custom Images
      .card-body
        input#deckraw(type='hidden', name='deckraw', value=deck)
        #deckarea(style='margin: 3px;')
  br
  h5 Bot Decks
  br
  .row
    each deck, i in bot_decks
      .col
        div.list-group.list-outline
          span.list-group-heading.list-group-item #{bots[i]}
          each card, j in bot_decks[i]
            if card.colorcategory == 'w'
              a.list-group-item.autocard.white.card-list-item(card=card.display_image card_flip=card.image_flip)= card.name
            if card.colorcategory == 'u'
              a.list-group-item.autocard.blue.card-list-item(card=card.display_image card_flip=card.image_flip)= card.name
            if card.colorcategory == 'b'
              a.list-group-item.autocard.black.card-list-item(card=card.display_image card_flip=card.image_flip)= card.name
            if card.colorcategory == 'r'
              a.list-group-item.autocard.red.card-list-item(card=card.display_image card_flip=card.image_flip)= card.name
            if card.colorcategory == 'g'
              a.list-group-item.autocard.green.card-list-item(card=card.display_image card_flip=card.image_flip)= card.name
            if card.colorcategory == 'c'
              a.list-group-item.autocard.colorless.card-list-item(card=card.display_image card_flip=card.image_flip)= card.name
            if card.colorcategory == 'm'
              a.list-group-item.autocard.multi.card-list-item(card=card.display_image card_flip=card.image_flip)= card.name
            if card.colorcategory == 'l'
              a.list-group-item.autocard.lands.card-list-item(card=card.display_image card_flip=card.image_flip)= card.name

  script(src='/js/utils.js')
  script(src='/js/deck.js')
