extends cube_layout

block cube_toolbar
  link(rel='stylesheet' href='/css/draft.css')

block cube_content
  include ../dynamic_flash
  input#oldformat(type='hidden', value=oldformat.toString())
  input#drafter(type='hidden', value=drafter)
  input#cards(type='hidden', value=cards || [])
  input#deckraw(type='hidden', value=deck || [])
  input#botdecks(type='hidden', value=bot_decks)
  input#bots(type='hidden', value=bots)
  input#canEdit(type='hidden', value=user && user.id == deck.owner ? 'true' : 'false')
  #react-root

  script(src='/js/utils.js')
  script(src='/js/cube_deck.bundle.js')
