extends cube_layout

block cube_toolbar
  input#cuberaw(type='hidden', name='cuberaw', value=cube_raw)
  //edit controls
  if user && user.id == cube.owner
    .usercontrols
      nav.navbar.navbar-expand.navbar-light
        .collapse.navbar-collapse
          ul.navbar-nav
            li.nav-item
              a#customDraftButton.nav-link(href='#' data-toggle='modal', data-target='#customDraftModal') Create Custom Draft

block cube_content
  .container
    br
    .row
      if decks.length > 0
        .col-6
          .card
            .card-header
              h5.card-title Recent Decks
            .card-body
              each deck, i in decks
                a(href='/cube/deck/'+deck._id) #{deck.name}
                br
            .card-footer
              a(href='/cube/decks/'+cube_id) View all

      //hidden form to fire draft
      form#fireDraftForm(method='POST', action='/cube/startdraft/'+cube_id)
        input#fireDraftHidden(type='hidden', name='body')

      .col-6
        .row
          if cube.draft_formats
            each format, i in cube.draft_formats
              .col-12
                .card
                  .card-header
                    h5.card-title Draft Custom Format:
                      a=format.title
                  .card-body
                    .description-area !{format.html}
                    br
                    .form-group.row
                      label.col-sm-4.col-form-label.col-form-label-sm Total Seats
                      .col-sm-8
                        select.form-control(name='seats' id='customDraftSeats'+i)
                          option 4
                          option 5
                          option 6
                          option 7
                          option(selected='') 8
                          option 9
                          option 10
                  .card-footer
                    span
                      button.start-custom-draft.btn.btn-success(data-draft=i type='submit') Start Draft
                      if user && user.id == cube.owner
                        a
                        button.btn.btn-success.editFormatButton(role='button' data-id=i) Edit
                        a
                        a.btn.btn-danger(data-toggle='collapse', href='#collapsepost'+i, role='button') Delete
                        .collapse(id='collapsepost'+i)
                          span
                            a Are you sure? This action cannot be undone.
                            button.btn.btn-danger.delete-format(type='submit',value='Delete', data-id=i, data-cube=cube_id ) Yes, delete this format
                br
          .col-12
            .card
              .card-header
                h5.card-title Start a new draft
              .card-body
                .form-group.row
                  label.col-sm-4.col-form-label.col-form-label-sm Number of Packs
                  .col-sm-8
                    select#newDraftPacks.form-control(name='packs')
                      option 1
                      option 2
                      option(selected='') 3
                      option 4
                      option 5
                .form-group.row
                  label.col-sm-4.col-form-label.col-form-label-sm Cards per Pack
                  .col-sm-8
                    select#newDraftCards.form-control(name='cards')
                      option 5
                      option 6
                      option 7
                      option 8
                      option 9
                      option 10
                      option 11
                      option 12
                      option 13
                      option 14
                      option(selected='') 15
                      option 16
                      option 17
                      option 18
                      option 19
                      option 20
                .form-group.row
                  label.col-sm-4.col-form-label.col-form-label-sm Total Seats
                  .col-sm-8
                    select#newDraftSeats.form-control(name='seats')
                      option 4
                      option 5
                      option 6
                      option 7
                      option(selected='') 8
                      option 9
                      option 10
              .card-footer
                button#startDraftButton.btn.btn-success Start Draft
      .col-6
        .row
          .col-12
            .card
              .card-header
                h5.card-title View sample pack
              .card-body
                .form-group.row
                  label.col-sm-4.col-form-label.col-form-label-sm Seed
                  .col-sm-8
                    input#sampleSeedValue.form-control(name='sampleSeedValue', type='text')
              .card-footer
                .row
                  .col-md-6
                    a#viewRandomButton.btn.btn-success.btn-block(href=`/cube/samplepack/${cube_id}`) View Random
                  .col-md-6
                    a#viewSeededButton.btn.btn-success.btn-block(href=`/cube/samplepack/${cube_id}/`, data-cube-id=cube_id) View Seeded
  script(src='/js/playtest.js')
  if user
    if user.id == cube.owner
      // edit overview modal
      #customDraftModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='cubeModalLabel', aria-hidden='true')
        .modal-dialog.modal-lg(role='document')
          .modal-content
            form#customDraftForm(method='POST', action='/cube/format/add/'+cube_id)
              .modal-header
                h5 Create Custom Draft Format
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                  span(aria-hidden='true') ×
              .modal-body
                .row
                  .col
                    label Title:
                    input#customDraftTitle.form-control(maxlength='200' name='title', type='text')
                  .col
                    br
                    .form-check
                      input#customDraftFormRadioFalse.form-check-input(type='radio', name='multiples', value='false', checked='')
                      label.form-check-label(for='customDraftFormRadioFalse') Don't allow more than one of each card  in draft
                    .form-check
                      input#customDraftFormRadioTrue.form-check-input(type='radio', name='multiples', value='true')
                      label.form-check-label(for='customDraftFormRadioTrue') Allow multiples (e.g. set draft)
                label Description:
                input#customDraftHiddenHTML(type='hidden', name='html')
                include ../texteditor
                br
                p Card values can either be single tags (not case sensitive), or a comma separated list of tags to create a ratio (e.g. 3:1 rare to mythic could be "rare, rare, rare, mythic"). '*' can be used to match any card.
                .format-area#customDraftBody
                a.btn.btn-success#AddPackButton(href='#') Add Pack
              .modal-footer
                input#customDraftHidden(type='hidden', name='format')
                input#customDraftHiddenId(type='hidden', name='id')
                input.btn.btn-success(type='submit',value='Save')
                button.btn.btn-secondary(type='button', data-dismiss='modal') Close
      script(src='/js/packcraft.js')
